// Variables

// Layout Sizes
$grid-breakpoints: (
    xxs: 0,
    xs: 360px,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1200px,
    xxl: 1530px
);

$grid-width-large: 160rem;
$grid-width : 160rem / 12 * 10;
$gutter: 2rem;

$colors: (
  white: (
    base: #fff,
  ),
  black: (
    base: #555,
  ),
);

@function color($color, $tone: "base") {
  @return map-get(map-get($colors, $color), $tone);
};

/* Fonts */
$default-font: "Poppins";
$img-path: "../../assets/img/";
